CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y
CT_ARCH_SH=y
CT_ARCH_SH_SH4A=y
CT_OMIT_TARGET_VENDOR=y
CT_DEMULTILIB=y
# CT_ARCH_USE_MMU is not set
CT_ARCH_BE=y
CT_TARGET_ALIAS_SED_EXPR="s/sh4aeb/sh/"
CT_TARGET_ALIAS="sh4-elf"
CT_TOOLCHAIN_ENABLE_NLS=y
CT_BINUTILS_V_2_39=y
CT_BINUTILS_PLUGINS=y
CT_NEWLIB_SRC_DEVEL=y
CT_NEWLIB_DEVEL_URL="https://github.com/diddyholz/newlib-cp2.git"
CT_LIBC_NEWLIB_IO_C99FMT=y
CT_LIBC_NEWLIB_IO_LL=y
CT_LIBC_NEWLIB_IO_FLOAT=y
CT_LIBC_NEWLIB_IO_LDBL=y
CT_LIBC_NEWLIB_IO_POS_ARGS=y
CT_LIBC_NEWLIB_REGISTER_FINI=y
CT_LIBC_NEWLIB_REENT_SMALL=y
CT_LIBC_NEWLIB_EXTRA_SECTIONS=y
CT_LIBC_NEWLIB_EXTRA_CONFIG_ARRAY="--enable-newlib-elix-level=3"
CT_CC_GCC_MULTILIB_LIST="m4a-nofpu"
# CT_CC_GCC_STATIC_LIBSTDCXX is not set
CT_CC_GCC_SYSTEM_ZLIB=y
CT_CC_GCC_LIBSSP=m
CT_CC_GCC_LIBQUADMATH=y
# CT_CC_CXA_ATEXIT is not set
CT_CC_GCC_LNK_HASH_STYLE_BOTH=y
CT_CC_LANG_CXX=y
CT_COMP_LIBS_CLOOG=y
CT_ISL_V_0_24=y
CT_ZLIB_V_1_2_13=y
CT_ZSTD_V_1_5_2=y
